<a href="https://colab.research.google.com/github/TattuX/Estructura_de_Datos_Actividad/blob/main/Actividad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Ejercicio_1
# Crea una tupla con los siguientes elementos: "apple", "banana", "cherry", "date", "fig", "grape". Imprime la tupla y el número de elementos que contiene.

Tupla_1 = ("apple", "banana", "cherry", "date", "fig", "grape")

print(Tupla_1)

print(len(Tupla_1))

('apple', 'banana', 'cherry', 'date', 'fig', 'grape')
6

In [ ]:
#Ejercicio_2
#Dada la tupla fruits = ("apple", "banana", "cherry", "date", "fig", "grape"), accede e imprime el tercer elemento de la tupla.

Tupla_1[2]

'cherry'

In [ ]:
#Ejercicio_3
# Dada la tupla colors = ("red", "green", "blue"), desempaqueta sus valores en tres variables y luego imprime cada variable.

colors = ("red", "green", "blue")

rojo,verde,azul = colors

print("Valor de rojo",rojo)
print("valor de verde",verde)
print("valor de azul",azul)

Valor de rojo red
valor de verde green
valor de azul blue

In [ ]:
#Ejercicio_4
#Crea dos tuplas, una con los números (1, 2, 3) y otra con los números (4, 5, 6). Concatenálas en una sola tupla y muestra el resultado

numero_1=(1,2,3)
numero_2=(4,5,6)

numero_1 + numero_2

(1, 2, 3, 4, 5, 6)

In [ ]:
#Ejercicio_5
# Crea una tupla con el elemento "repeat" y repítela 4 veces. Imprime el resultado.

T1= (122,1501,1107,308)

T1 * 4

(122,
 1501,
 1107,
 308,
 122,
 1501,
 1107,
 308,
 122,
 1501,
 1107,
 308,
 122,
 1501,
 1107,
 308)

In [ ]:
type(T1)

tuple

In [ ]:
#Ejercicio_6
#Dada la tupla numbers = (10, 20, 30, 40, 50), utiliza un bucle for para iterar sobre la tupla e imprimir cada número.

numbers = (10, 20, 30, 40, 50)

for n in numbers:
  print(n)

10
20
30
40
50

In [3]:
#Ejercicio_7
#Crea una tupla que contenga otras dos tuplas: tuple1 = (1, 2, 3) y tuple2 = ("a", "b", "c"). Imprime la tupla anidada.

tuple1 = (1, 2, 3)
tuple2 = ("a", "b", "c")

Anidada=(tuple1, tuple2)

print(Anidada)

((1, 2, 3), ('a', 'b', 'c'))

tuple

In [5]:
#Ejercicio_8
#Dada la tupla letters = ("a", "b", "c", "d"), verifica si la letra "e" está en la tupla e imprime un mensaje apropiado.

letters = ("a", "b", "c", "d")

if "e" in letters:
  print("La letra 'e' esta dentro de la tupla")
else:
  print("La letra 'e' no esta dentro de la tupla")

La letra 'e' no esta dentro de la tupla

In [13]:
#Ejercicio_9
# Convierte la lista my_list = [100, 200, 300, 400] a una tupla e imprime la tupla resultante.

my_list = [100, 200, 300, 400]

tuple(my_list)

(100, 200, 300, 400)

In [17]:
#Ejercicio_10

#Dada la tupla my_tuple = (5, 10, 15, 20, 25, 30, 35), imprime el valor en el índice 2 y una sub-tupla que contenga los elementos desde el índice 1 hasta el 4.

my_tuple = (5, 10, 15, 20, 25, 30, 35)

print(my_tuple[2])

print(my_tuple[1:5])

15
(10, 15, 20, 25)